<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zjut.alan.opencvdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="utils.OpenCVDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".c1.ChapterFirst1Activity" />
        <activity android:name=".SectionsActivity" />
        <activity android:name=".c1.TakePhotoActivity" />
        <activity android:name=".c2.ReadMatinfoActivity" />
        <activity android:name=".c3.MatOperationsActivity" />
        <activity android:name=".c4.ConvolutionActivity" />
        <activity android:name=".c5.ImageAnalysisActivity" />
        <activity android:name=".c7.CameraViewActivity" />
        <activity android:name=".c7.DisplayModeActivity" />
        <activity android:name=".c8.OcrDemoActivity"></activity>
    </application>

</manifest>